/* Box Model Hack */
* {
    box-sizing: border-box;
  }
  
  /* Clear fix hack */
  .clearfix:after {
       content: ".";
       display: block;
       clear: both;
       visibility: hidden;
       line-height: 0;
       height: 0;
  }
  
  .clear {
      clear: both;
  }
  
  /******************************************
  /* BASE STYLES
  /*******************************************/
  h1, p, ul > li + li {
    font-family: 'Montserrat';
    color: hsl(228, 12%, 48%);
    font-size: 14px;
  }

  

  body{
    background:  hsl(30, 38%, 92%); 
  }

  main {
    background: hsl(0, 0%, 100%);
    height: 400px;
    width: 600px; 
    border: 0;
    border-radius: 10px;
  }

  button {
    background-color: hsl(158, 36%, 37%);
  
  }
  img {
    height: 400px;
    width: 300px;
    border: 0;
    border-radius: 10px 0px 0px 10px;
  }

#description {
    padding: 20px;
}

.discount {
  font-family: 'Fraunces', serif;;

}

p{
    font-size: 14px;
}
ul {
  list-style: none;
  gap: 15px;
}
ul >li {
  font-size: 30px;
  color: hsl(158, 36%, 37%);
}
  
  /******************************************
  /* LAYOUT
  /*******************************************/
 
  body, main, ul{
    display: flex;
  }
  body{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px;
    
  }
  
  
  
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  li {
    font-family: 'Fraunces', serif;
  }
  ul > li + li {
    text-decoration: line-through;
  }

  button {
    width: 200px;
    height: 50px;
    border: 0;
    border-radius: 5px;
    color: hsl(0, 0%, 100%);
    font-size: 20px;

    
  }
 
  .attribution { 
    font-size: 11px; 
    text-align: center; 
  }
  .attribution a {
    color: hsl(228, 45%, 44%); 
  }
  button> img {
    height: 26px;
    width: 20px;
  }
  
  /* Media query for mobile (375px) */
  @media (max-width: 375px) {
    body {
      flex-direction: column;
      
    }
  }
 